<div class="flex items-center justify-center h-full">
  <div>
    <img src="assets/page-not-found.svg" alt="page not found" class="w-96" />
    <h2 class="my-4 text-2xl font-semibold text-center">
      Page Not Found.
    </h2>
    <div>
      <button mat-stroked-button class="w-full p-1 text-center duration-300 rounded-sm" color="primary"
        routerLink="/dashboard">
        <div class="flex items-center justify-center">
          <mat-icon aria-hidden="false" aria-label="Go to Dashboard" class="mr-1">arrow_back</mat-icon>
          <span>Go to Dashboard</span>
        </div>
      </button>
    </div>
  </div>
</div>