// @import "fonts/material-icons";
// @import "fonts/roboto";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* custom material theme styles */
@import "custom-theme";

/* tailwindcss styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'components';

/* You can add global styles to this file, and also import other style files */

html {
  height:100%;
  background-color: #e8eaf6;
}

body {
  padding: 0;
  margin: 0;
  height:100%;
  background-color: #e8eaf6;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader-container {
  background-color: #e8eaf6;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  position: absolute;

  -moz-animation: cssAnimation 1s ease-in 3s forwards;
  /* Firefox */
  animation: cssAnimation 1s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 1s ease-in 3s forwards;
  animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
      opacity:0;
      display: none;
      visibility:hidden;
    }
}
@keyframes cssAnimation {
    to {
      visibility:hidden;
      opacity:0;
      display: none;
    }
}

.spinner {
  margin: 50vh auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;


  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
  background-color: #125D98;
}

.spinner .bounce1 {
  background-color: #52006A;
  animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  background-color: #3C5186;
  animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
    transform: scale(1.0);
  }
}